@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

/* Estilos CSS para a página */
html {
  height: 100%;
  background-color: #f0f0f0;
}

body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 97vh; 
}

main {
  flex-grow: 1;
  padding: 30px;   
}



.buttons {
  position: relative;
  background-color: #f0f0f0;
  padding: 20px;
}

header {
  top: 0;
  background-color: #333;
  color: white;
  padding: 10px;
}

nav {
  width: 10%;
  background-color: #fff;
  border-right: 1px solid #ddd;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li a {
  display: block;
  color: #333;
  padding: 8px 16px;
  text-decoration: none;
}

li a.active {
  background-color: #4CAF50;
  color: white;
}

li a:hover:not(.active) {
  background-color: #ddd;
  color: #333;
}

.table-wrapper {
  overflow-x: auto;
}

table {
  border-collapse: collapse;
  width: 100%;  
  position: relative;
}

thead {
  background-color: #fff;
}

thead > tr > th {
  position: sticky;
  top: 0;
}

tbody {
  max-height: 300px; /* Defina a altura máxima desejada */
  overflow-y: auto;
}

th,
td {
  padding: 10px;
  text-align: left;
  
}

th {
  background-color: #4CAF50;
  color: white;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
  height: 12px;
}

th:nth-child(1),
td:nth-child(1) {
  width: 10%;
}

th:nth-child(2),
td:nth-child(2) {
  width: 20%;
}

footer {
  background-color: #333;
  color: white;
  padding: 10px;
  text-align: center;
  margin-top: auto;
  width: 9%;
  bottom: 0;
}

img {
  width: 16px;
  height: 16px;
}

input[type="checkbox"] {
  transform: scale(1.5);
}

.buttons {
  display: flex;
  justify-content: flex-end;
}

.container {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
}

button {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 4px;
}

button:hover {
  background-color: #3e8e41;
}

#btn-incluir {
  background-color: #008CBA;
}

#btn-incluir:hover {
  background-color: #007a9b;
}

#btn-excluir {
  background-color: #f44336;
}

#btn-excluir:hover {
  background-color: #d32f2f;
}

#btn-editar {
  background-color: #4CAF50;
}

#btn-editar:hover {
  background-color: #3e8e41;
}

.label-column {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  margin-right: 10px;
}

.input-column {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;  
  flex-grow: 1;
  margin-right: 20px;
}

label {
  margin-bottom: 5px;
}

input[type="text"] {
  padding: 5px;
  max-width: 200px; 
}

.medium-input {
  width: 300px;
}

tbody {
  max-height: 100%; /* Defina a altura máxima desejada */
  overflow-y: auto; /* Adiciona uma barra de rolagem vertical quando necessário */
}

.short-input {
  width: 150px;
}

.form-row {
  max-height: 100%; /* Defina a altura máxima desejada */
  overflow-y: auto; /* Adiciona uma barra de rolagem vertical quando necessário */
  padding: 20px;
  align-items:
}

.input-container {
  display: flex;
  flex-direction: row;
  max-width: 30vh;
}

.input-map-container {
  display: flex;
  flex-direction: row;
  margin-bottom: 10px;  
  flex-grow: 1;
  margin-right: 20px;
}

.input-map-container .localização {
  display: flex;
  flex-direction: row; /* Altera a direção do fluxo para coluna */
  align-items: center;
}

.input-map-container img {  
  position: relative;
}

.map-cadastro {  
  flex: 1; /* Ocupa todo o espaço restante */
  position: relative;
  aspect-ratio: 1/1; /* Define a proporção do aspecto para 1:1 (quadrado) */
  border: 2px solid black; /* Adiciona uma borda de 2px sólida na cor preta */
}

.map-cadastro img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.map-cadastro::before {
  content: '';
  display: block;
  padding-top: 100%; /* Define a altura relativa à largura para manter o aspecto quadrado */
}

.link-sem-decoracao {
  color: inherit; /* Mantém a cor padrão do texto */
  text-decoration: none; /* Remove o sublinhado */
}

/* CSS para base.html */

.h1-fixed {
  font-size: 24px; /* Tamanho de fonte personalizado para h1 */
}

/* CSS para cadastro.html */

.medium-input {
  font-size: 16px; /* Tamanho de fonte médio para inputs */
}

.short-input {
  font-size: 14px; /* Tamanho de fonte curto para inputs */
}

/* CSS para index.html */

h1 {
  font-size: 24px; /* Tamanho de fonte para h1 */
}

h4 {
  font-size: 16px; /* Tamanho de fonte para h4 */
}

/* CSS adicional */

.label {
  font-size: 14px; /* Tamanho de fonte para labels */
  display: inline;
}
