/* Estilos CSS para a página */
html {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: #f0f0f0;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: #f0f0f0;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex-grow: 1;
  padding: 30px;
  margin-bottom: -60px; /* Altere o valor para a altura do footer */  
}

/* Restante do seu CSS... */

footer {
  background-color: #333;
  color: white;
  padding: 10px;
  text-align: center;
  
  height: 30px; /* Altere o valor para a altura desejada */
}

.buttons {
  position: relative; /* Adicione esta propriedade */
  background-color: #f0f0f0; /* Adicione esta propriedade */
  padding: 20px;
}


header {
  position: sticky;
  top: 0;
  background-color: #333;
  color: white;
  padding: 10px;
  z-index: 1; /* Adicione esta propriedade para garantir que o header fique acima dos demais elementos */
}

nav {
  width: 10%;
  background-color: #fff;
  border-right: 1px solid #ddd;
  position: sticky;
  top: 0;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li a {
  display: block;
  color: #333;
  padding: 8px 16px;
  text-decoration: none;
}

li a.active {
  background-color: #4CAF50;
  color: white;
}

li a:hover:not(.active) {
  background-color: #ddd;
  color: #333;
}



table {
  border-collapse: collapse;
  width: 100%;  
}

th, td {
  text-align: left;
  padding: 8px;
}

th {
  background-color: #4CAF50;
  color: white;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

/* Restante do seu CSS... */

footer {
  background-color: #333;
  color: white;
  padding: 10px;
  text-align: center;
  margin-top: auto;
  width: 100%;
  position: fixed;
  bottom: 0;
}


img {
  width: 16px;
  height: 16px;
}

input[type="checkbox"] {
  transform: scale(1.5);
}



.buttons {
  display: flex;
  justify-content: flex-end;
}

.container {
  display: flex;
  flex-direction: row;
  min-height: calc(100vh - 2 * 10px); /* Subtrai o espaço do header e do footer */
  max-height: calc(80h - 2 * 10px); /* Defina a altura máxima desejada */
}

button {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 4px;
}

button:hover {
  background-color: #3e8e41;
}

#btn-incluir {
  background-color: #008CBA;
}

#btn-incluir:hover {
  background-color: #007a9b;
}

#btn-excluir {
  background-color: #f44336;
}

#btn-excluir:hover {
  background-color: #d32f2f;
}

#btn-editar {
  background-color: #4CAF50;
}

#btn-editar:hover {
  background-color: #3e8e41;
}
.label-column {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-right: 10px;
}

.input-column {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

label {
  margin-bottom: 5px;
}

input[type="text"] {
  padding: 5px;
}

