{% extends 'ph/base.html' %}
{% load static %}

{% block content %}
  <h1 class="h1-fixed">Cadastro de Hosts</h1>
  <form method="POST" action="{% url 'cadastrar_host' %}">
    {% csrf_token %}
    <div class="form-row">
      <div class="input-container">
        <div class="input-column">
          <label for="ip_host">IP do Host:</label>
          <input type="text" id="ip_host" name="ip_host" class="medium-input" required>
          <label for="dns_host">DNS do Host:</label>
          <input type="text" id="dns_host" name="dns_host" class="medium-input" required>
          <label for="nome_host">Nome do Host:</label>
          <input type="text" id="nome_host" name="nome_host" class="medium-input" required>
          <label for="categoria_host">Categoria do Host:</label>
          <input type="text" id="categoria_host" name="categoria_host" class="medium-input" required>
        </div>
        <div class="input-column">
          <label for="cep">CEP:</label>
          <input type="text" id="cep" name="cep" class="short-input" required>
          <label for="logradouro">Logradouro:</label>
          <input type="text" id="logradouro" name="logradouro" class="medium-input" required>
          <label for="numero">Número:</label>
          <input type="text" id="numero" name="numero" class="short-input" required>
          <label for="complemento">Complemento:</label>
          <input type="text" id="complemento" name="complemento" class="medium-input">
          <label for="bairro">Bairro:</label>
          <input type="text" id="bairro" name="bairro" class="medium-input" required>
          <label for="cidade">Cidade:</label>
          <input type="text" id="cidade" name="cidade" class="medium-input" required>
          <label for="estado">Estado:</label>
          <input type="text" id="estado" name="estado" class="short-input" required>
          <label for="latitude">Latitude:</label>
          <input type="text" id="latitude" name="latitude" class="short-input">
          <label for="longitude">Longitude:</label>
          <input type="text" id="longitude" name="longitude" class="short-input">
        </div>
        <div class="input-map-container">
          <label for="map-cadastro" class="localização">Localização:</label>
            <div class="map-cadastro">
              <img src="{% static 'img\sem_local.jpg' %}" alt="Imagem">
            </div>
        </div>
      </div>
    </div>
    
    <button id="btn-incluir">Incluir</button>
    <button id="btn-carregar-coordenada">Carregar Coordenada</button>
  </form>

  <!-- Seção de mensagens de sucesso -->
  {% if messages %}
    <div class="popup">
      <ul class="success-messages">
        {% for message in messages %}
          <li>{{ message }}</li>
        {% endfor %}
      </ul>
    </div>
  {% endif %}
    <!-- Mensagem de sucesso -->
    <div id="success-message" class="message success-message" style="display: none;"></div>

    <!-- Mensagem de erro -->
    <div id="error-message" class="message error-message" style="display: none;"></div>
  
  <script src="{% static 'js/script.js' %}"></script>
{% endblock %}
