{% extends 'ph/base.html' %}
{% load static %}
{% block content %}
    <h2>Hosts</h2>
    <table>
      <thead>
        <tr>
          <th></th>
          <th>Nome do Host</th>
          <th>DNS</th>
          <th>Endereço IP</th>          
          <th>Status</th>
        </tr>
      </thead>
      <tbody>
        {% for host in hosts %}
        <tr>
            <td><input type="checkbox"></td>
            <td>{{ host.nome_host }}</td>
            <td>{{ host.dns_host}}</td>
            <td>{{ host.ip_host }}</td>
            <td>
                {% if host.status_host == 1 %}
                  <img src="{% static 'img/ativo.png' %}" alt="Ativo">
                {% elif host.status_host == 0 %}
                <img src="{% static 'img/inativo.png' %}" alt="Inativo">
                {% else %}
                  <img src="{% static 'img/loading.gif' %}" alt="Carregando">
                {% endif %}
            </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>    
    {% include 'ph/partials/_buttons_crud.html' %}
    {% endblock %}


    
