{% extends 'ph/base.html' %}
{% load static %}
{% block content %}
<h1 class="index-titulo-principal">Localidades</h1>
<div class="div-map" id="div-map"></div>

<script src="{% static 'js/script.js' %}"></script>
<script src="https://unpkg.com/@google/markerclustererplus@4.0.1/dist/markerclustererplus.min.js"></script>

<script>
  // Faça uma solicitação AJAX para obter a chave da API do servidor
  fetch("{% url 'api_key' %}")
    .then(response => response.json())
    .then(data => {
      const api_key = data.api_key;

      // Carrega a API do Google Maps e inicia a função initMap
      const script = document.createElement('script');
      script.src = `https://maps.googleapis.com/maps/api/js?key=${api_key}&callback=initMap`;
      script.async = true;
      script.defer = true;
      document.head.appendChild(script);
    })
    .catch(error => {
      console.error("Erro ao obter a chave da API:", error);
    });

  function initMap() {
    // Cria um novo mapa
    const mapObj = new google.maps.Map(document.getElementById("div-map"), {
      styles: [{ featureType: "poi", stylers: [{ visibility: "off" }] }]
    });

    var latitudes = [];
    var longitudes = [];
    var blueMarkers = [];
    var redMarkers = [];

    // Itera pelos pontos e cria marcadores para cada um
    {% for ponto in host_data %}
      var latitude = parseFloat("{{ ponto.latitude }}".replace(',', '.'));
      var longitude = parseFloat("{{ ponto.longitude }}".replace(',', '.'));
      var status = {{ ponto.status_host|lower }};

      latitudes.push(latitude);
      longitudes.push(longitude);

      var location = new google.maps.LatLng(latitude, longitude);
      var markerIcon = status ? '/static/img/map_bluemarker.png' : '/static/img/map_redmarker.png';

      var marker = new google.maps.Marker({
        position: location,
        icon: { url: markerIcon, scaledSize: new google.maps.Size(40, 40) },
        title: "{{ ponto.nome_host }}"
      });

      // Adiciona o marcador ao cluster apropriado
      status ? blueMarkers.push(marker) : redMarkers.push(marker);
    {% endfor %}

    // Cria clusters para os marcadores
    var redCluster = new MarkerClusterer(mapObj, redMarkers, {
      imagePath: 'https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/m',
      styles: [{
        url: '/static/img/redclusterimage.png',
        height: 40,
        width: 40
      }]
    });
    var blueCluster = new MarkerClusterer(mapObj, blueMarkers, {imagePath: 'https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/m'});


    // Define os limites do mapa para abranger todos os marcadores
    var bounds = new google.maps.LatLngBounds(
      new google.maps.LatLng(Math.min(...latitudes), Math.min(...longitudes)),
      new google.maps.LatLng(Math.max(...latitudes), Math.max(...longitudes))
    );
    mapObj.fitBounds(bounds);

    window.map = { map: mapObj };
  }
</script>

{% endblock %}
