
{%extends 'ph/base.html' %}
{% load static %}
{% block content %}
    <main>
    <h2>Hosts</h2>
    <table  >
      <thead>
        <tr>
          <th></th>
          <th>Nome do Host</th>
          <th>Endereço IP</th>
          <th>Status</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><input type="checkbox"></td>
          <td>Host 1</td>
          <td>192.168.0.1</td>
          <td><img src="{% static 'img/ativo.png' %}" alt="Ativo"></td>
        </tr>
        <tr>
          <td><input type="checkbox"></td>
          <td>Host 2</td>
          <td>192.168.0.2</td>
          <td><img src="{% static 'img/inativo.png' %}" alt="Inativo"></td>
        </tr>
        <tr>
          <td><input type="checkbox"></td>
          <td>Host 3</td>
          <td>192.168.0.3</td>
          <td><img src="{% static 'img/ativo.png' %}" alt="Ativo"></td>
        </tr>
      </tbody>
    </table>
    </main>
    <div class="buttons">
      <button id="btn-incluir">Incluir</button>
      <button id="btn-excluir"style="display:none;">Excluir</button>
      <button id="btn-editar" style="display:none;">Editar</button>
    </div>
    <script src="{% static 'js/script.js' %}"></script>
    {% endblock %}
